.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.flight{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
}

.input1{
  
}

.select{
  display: flex;
}

button{
  display: flex;
}


 
